* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.postit-body-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(247, 247, 247);
}
.postit-header {
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}
.postit-progress-bar {
  position: relative;
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
}
.progress-bar {
  margin-left: 2rem;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  width: 80%;
  max-width: 1000px;
  height: 60%;
  border-radius: 5rem;
}
.postit-wrapper {
  width: 200px;
  height: 200px;
  border-right: 2px solid #867139;
  border-bottom: 10px solid #867139;
}

.postit {
  position: absolute;
  width: 18rem;
  height: 18rem;
  background-color: #fff6c1;
  box-shadow: -6px -6px 5px rgba(228, 226, 226, 0),
    3px 3px 5px rgba(228, 226, 226, 0.9);
  border-radius: 10px;
  border: 1px solid rgba(243, 235, 235, 0.9);
  padding: 10px 6px 6px 10px;
  width: 180px;
  opacity: 0.8;
  height: 180px;
}
.postit-top-area {
  display: flex;
  flex-basis: -1;
  width: 100%;
  height: 2rem;
  background-color: rgba(235, 233, 233, 0.328);
}
.postit-status {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: lightslategray;
}
.postit-delete-button {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: gainsboro;
  margin-left: 1rem;
  border: 1px solid rgba(235, 233, 233, 0.543);
}
.process-toggle-button {
  display: flex;
  flex-direction: row;
  width: 6rem;
  height: 2rem;
  background-color: aquamarine;
  border: 1px solid #867139;
  border-radius: 1rem;
  margin: auto 0 0 auto;
}
.postit-contents-area {
  width: 100%;
  height: 90%;
}
.postit-contents-form {
  width: 100%;
  height: 90%;
  resize: none;
}
.postit-container {
  width: 18rem;
  height: 18rem;
  background-color: #fff6c1;
  box-shadow: -6px -6px 5px rgba(228, 226, 226, 0.7),
    6px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.postit-memo-detached {
  width: 240px;
}

.postit-page-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
}
.page-nav-tab {
  display: flex;
  width: auto;
  height: 4rem;
}
.size-button {
  display: flex;
  width: 10%;
  height: 4rem;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  max-width: 15rem;
  height: 30px;
  border-radius: 15px 15px 0 0;
  border: 1px solid lightslategray;
}
.tab-delete-button {
  margin-left: 1rem;
  font-size: 1rem;
}
.selected {
  border-bottom: 0px;
}
.add-tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  background-color: ghostwhite;
}
